@media screen and (max-width:500px) {
  .container {
    width: 400px;
  }

  .header {
    height: 50px;
    margin-bottom: 40px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .camera {
    width: 30px;
    height: 30px;
    margin-left: 120px;
  }

  .header-text {
    font-size: 35px;
    margin-left: 5px;
  }

  .posts {
    width: 350px;
  }

  .posts-header {
    height: 50px;
  }

  .name {
    width: 200px;
    font-size: 18px;
    margin-left: 10px;
  }

  .location {
    width: 200px;
    font-size: 14px;
    margin-left: 12px;
  }

  .more {
    margin-left: 100px;
  }

  .image {
    width: 100%;
  }

  .post-image {
    width: 100%;
    max-height: 350px;
  }

  .like
  {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 16px;
  }

  .share {
    margin-top: 8px;
    font-size: 22px;
    margin-left: 5px;
  }

  .like-counter {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .date {
    margin-left: 150px;
    margin-top: 10px;
    font-size: 14px;
  }

  .description {
    margin-bottom: 15px;
    margin-top: 8px;
    font-size: 18px;
    margin-left: 19px;
  }

  .home {
    width: 412px;
    margin: 30px auto;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumbnail {
    margin-top: 150px;
    width: 100%;
    height: 400px;
  }

  .nav {
    margin-left: 25px;
  }

  .field-container {
    width: 100%;
  }

  #file {
    width: 90%;
  }

  #author {
    width: 43%;
  }

  #location {
    width: 43%;
  }

  #description {
    width: 90%;
  }
}